@import "tailwindcss";
@import "@heroui/styles";
@import "./variables.css";

:root {
  --accent: #1F6F5F;
  --success: #6FCF97;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-primary: #338ef7;
}

@theme inline {
    --font-mono: var(--font-IBMPlexMono);
    --font-fraunces: var(--font-fraunces-sans);
    --font-inter: var(--font-inter);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;

    transition:
        background 0.2s ease,
        color 0.2s ease;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}